.content {
  padding: 0 56rpx;
  padding-top: calc(195rpx + 30rpx);
  .content_1 {
    font-size: 52rpx;
    font-family: PingFang SC;
    font-weight: 800;
    color: #000000;
    line-height: 1;
  }
  .content_2 {
  }
}
